{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{person.Id}}" method="post">
   <div class="row">
        <div class="col">
            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" placeholder="{{ person.Name }}" name="Name">
        </div>
        <div class="col">
            <label for="Sex">Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="{{ person.Sex }}"
                   name="Sex">
        </div>
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="{{ person.Age }}" name="Age">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_in">Height</label>
            <input id="Height_in" type="text" class="form-control" placeholder="{{ person.Height_in }}" name="Height_in">
        </div>
        <div class="col">
            <label for="Weight_lbs">Weight</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="{{ person.Weight_lbs }}" name="Weight_lbs">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}

