{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ person.Name }}</h5></br>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID : {{ person.Id }}</li>
        <li class="list-group-item">Sex: {{ person.Sex }}</li>
        <li class="list-group-item">Age: {{ person.Age }}</li>
        <li class="list-group-item">Height: {{ person.Height_in }}</li>
        <li class="list-group-item">Weight: {{ person.Weight_lbs }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{person.Id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{person.Id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}

